*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
/shared/src/commonMain/kotlin/generated
/androidApp/release/
*.ipa
.env
*.mobileprovision
*.cer*
*.p12
*.zip
*.p8
.kotlin
*.db
*.apk
*.aab
/androidApp/debug
/shared/schemas
/shared/schemas/
