<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867714323835-lhi1ql8stdvepo3ih565lkat08h17a5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867714323835-lhi1ql8stdvepo3ih565lkat08h17a5u</string>
	<key>API_KEY</key>
	<string>AIzaSyCDiCWYRXnlXQEzIYv0AZONq9rdRwKqAQk</string>
	<key>GCM_SENDER_ID</key>
	<string>867714323835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.redlink.more.ios</string>
	<key>PROJECT_ID</key>
	<string>more-adad0</string>
	<key>STORAGE_BUCKET</key>
	<string>more-adad0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867714323835:ios:f694ac24fcb229ee5019de</string>
</dict>
</plist>